.parent {
  display: flex;
  height: 100vh;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #e9ecef;
  overflow: hidden;
}

.left-before {
  content: "";
  position: absolute;
  top: -35%;
  left: -5%;
  width: 70%;
  height: 35%;
  background-color: #3c6e71;
  transform-origin: right bottom;
  transform: rotate(-20deg);
  transition: transform 0.8s ease;
  z-index: 1;
}
.left-before1{
  position: absolute;
  top: -35%;
  left: -5%;
  width: 70%;
  height: 35%;
  background-color: #8ecae6;
  transform-origin: right bottom;
  transform: rotate(-20deg);
  transition: transform 0.8s ease;
  z-index: 1;
}

.left-after {
  position: absolute;
  top: -35%;
  right: -5%;
  width: 70%;
  height: 35%;
  background-color: #d9d9d9;
  transform-origin: left bottom;
  transform: rotate(20deg);
}

.left-box{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;

}

.Img-left-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39rem;
  width: 50rem;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  opacity: 0;
  transition: all 1.2s ease-out;
  z-index: 10;
}
.Img-left-box.selected{
  opacity: 1;
  
}

.Img-left{
  width: auto;
  max-height: 100%;


}

.text{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  top: -10rem;
  left: 0rem;
  transition: all 1s ease-out;
}

.text.box{
  top: 0;
  left: 0;
  background-color: #007bff;
  border: 3px solid black;
  word-wrap:break-word;
  z-index: 2;
}
.text.non{
  opacity: 0;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.Img-container{
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Img-box{
  height: 15rem;
  width: 7rem;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  transition: all 0.2s ease;
}
.Img-box:hover{
  transform: scale(1.1);
}

.Img-box.selected{
  z-index: 3;
  transform: scale(1.2);
}
.Img-box:not(.selected) img{
  filter: grayscale(100%)
}

.Img{
  width: auto;
  max-height: 70%;
}